version: "3.9"
services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped
    ports:
      - "54:53/udp"
      - "3000:3000/tcp"
    volumes:
      - ./adguard/work:/opt/adguardhome/work
      - ./adguard/conf:/opt/adguardhome/conf

  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    network_mode: host
    privileged: true
    volumes:
      - ./tailscale:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    environment:
      - TS_AUTHKEY=<YOUR_AUTH_KEY>
    command: tailscaled
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    ports:
      - "8096:8096"
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ./jellyfin/config:/config
      - ./media/movies:/media/movies
      - ./media/tv:/media/tv

  plex:
    image: plexinc/pms-docker:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PLEX_CLAIM=REPLACE_ME
    volumes:
      - ./plex/config:/config
      - ./plex/media:/media